* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-fieldset {
  margin: 100px auto;
  padding: 30px;
  width: 400px;
  border: 6px solid teal;
  border-radius: 12px;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(29, 105, 105, 0.123)
}

.main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-input,
.main-select,
.submit-button,
.answer-subtitle {
  margin-top: 1.6em;
  font-size: 0.8em;
}

.submit-button {
  color: #FFFFFF;
  background-color: teal;
  border: none;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgba(0, 128, 128, 0.808);
}

.submit-button:active {
  background-color: rgb(1, 104, 104);
}

.casus-subtitle {
  margin-top: 3em;
}

.answer-header {
  align-self: center;
  display: block;
  width: 100%;
  min-height: 1.5em;
  border-bottom: 2px solid teal;
  text-align: center;
}

.gender {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.gender__label {
  margin-top: 1em;
}

.gender__input {
  margin-right: 10px;
}